<div class="two-space"></div>
<div class="welcome text-center">
  <div class="columns">
    <section class="column col-md-12 col-3 col-mx-auto">
      <h1>ACTIVITY</h1>
      <p>Stay active and enjoy better health and more fun!</p>
    </section>
    <section class="column col-md-12 col-3 col-mx-auto">
      <h1>COMMUNITY</h1>
      <p>Get to know other people who share the same passion!</p>
    </section>
    <section class="column col-md-12 col-3 col-mx-auto">
      <h1>CHALLENGES</h1>
      <p>Never Stop! Drive into new challenges every day.</p>
    </section>
  </div>

</div>
